.container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  margin-top: 0.8rem;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.btn-main, .btn-light, .btn-dark {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 0.8rem 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: #333;
  background-color: #ffbc00;
}

.btn-light {
  color: #333;
  background-color: #f4f4f4;
}

.btn-dark {
  color: #f4f4f4;
  background-color: #333;
}

a[class^="btn-"]:hover,
button[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: #ffbc00;
  color: #fff;
}

.bg-main {
  background-color: #ffbc00;
  color: white;
}

.bg-dark {
  background-color: #333;
  color: white;
}

.bg-light {
  background-color: #f4f4f4;
  color: black;
}

.bg-medium {
  background-color: #ccc;
  color: black;
}

.section-title {
  position: relative;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.section-title::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffbc00;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

.logo {
  width: 70px;
  height: 70px;
  text-transform: uppercase;
  color: #fff;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav li {
  padding: 1rem 1.5rem;
}

.main-nav a {
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.main-nav a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav a.current::after {
  width: 100%;
  background-color: #ffbc00;
}

.main-nav a:hover::after {
  width: 100%;
}

.header-home {
  background: url("../dist/Images/showcase.jpg") no-repeat center/cover;
  height: 100vh;
  color: #fff;
}

.header-home .header-content {
  text-align: center;
  padding-top: 20%;
}

.header-home .header-content h1 {
  margin: 0;
  font-size: 2.5rem;
  line-height: 1.2;
}

.header-inner {
  background: url("../dist/Images/showcase.jpg") no-repeat 20% 30%/cover;
  height: 5.5rem;
  border-bottom: 3px solid #ffbc00;
}

.home-a .specials {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.home-a .specials .fas {
  color: #ffbc00;
  padding: 0.4rem;
}

.home-b .stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.home-b .stats li {
  line-height: 2;
}

.home-b .stats li.stats-title {
  font-size: 1.5rem;
}

.home-b .stats li.stats-number {
  font-size: 2rem;
  font-weight: bold;
}

.home-b .stats div {
  padding: 3rem 0;
}

.home-b .stats div:nth-child(odd) {
  background-color: #f4f4f4;
}

.home-b .stats div:nth-child(even) {
  background-color: #ccc;
}

.home-c .process {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  text-align: center;
}

.home-c .process-step {
  background-color: #ffbc00;
  color: #fff;
  border-radius: 50%;
  font-size: 28px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  line-height: 15px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.home-c .process-icon {
  position: relative;
  border-radius: 50%;
  background-color: #333;
  color: white;
  padding: 2rem;
  width: 140px;
  height: 140px;
  line-height: 70px;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.home-c .process-icon:hover {
  background-color: #ffbc00;
  width: 160px;
  height: 160px;
  line-height: 90px;
}

.home-c .process-icon:hover .process-step {
  background-color: #333;
}

.about-a .about-info {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "bioimage bio bio" "aw1 aw2 aw3";
  gap: 1.2rem;
}

.about-a .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  padding: 0.8rem;
  border-left: 3px solid #ffbc00;
}

.about-a .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
}

.about-a .award-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aw1;
}

.about-a .award-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: aw2;
}

.about-a .award-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: aw3;
}

.about-a .award-1 .fas, .about-a .award-2 .fas, .about-a .award-3 .fas {
  color: #ffbc00;
  margin: 1rem;
}

.about-b .progress {
  background-color: #ccc;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  margin-bottom: 0.6rem;
  overflow: hidden;
}

.about-b .progress div {
  background-color: #ffbc00;
  height: 100%;
}

.about-c .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
}

.about-d .testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0.5rem;
}

.about-d .testimonials p {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
}

.about-d .testimonials ul {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-d .testimonials img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.work-a .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.work-a .item {
  position: relative;
  overflow: hidden;
}

.work-a .item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffbc00cc;
  top: -100%;
  opacity: 0.9;
  left: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 100;
}

.work-a .item:hover:before {
  top: 0;
  -webkit-transform: rotate(-38deg) scale(1.6);
          transform: rotate(-38deg) scale(1.6);
}

.work-a .item-image {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.work-a .item:hover .item-image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.work-a .item-text {
  position: absolute;
  z-index: 100;
  top: -100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.work-a .item:hover .item-text {
  top: 50%;
}

.contact-a .text-fields {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name email" "subject phone" "message message";
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.contact-a .text-fields .name-input {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

.contact-a .text-fields .email-input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

.contact-a .text-fields .subject-input {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subject;
}

.contact-a .text-fields .phone-input {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: phone;
}

.contact-a .text-fields .message-input {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
  height: 150px;
}

.contact-a .text-input {
  padding: 0.5rem 1rem;
}

.contact-a button[type="submit"] {
  width: 50%;
  margin: 5rem auto 1rem;
}

.contact-b .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.contact-c h1 {
  font-size: 3rem;
}

footer {
  background-color: #333;
  color: #fff;
  height: 5rem;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

footer .footer-content p {
  font-weight: normal;
}

footer .footer-content .social .fab {
  margin-right: 1rem;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
}

footer .footer-content .social .fab:hover {
  background-color: #ffbc00;
}

@media (max-width: 800px) {
  .header-home {
    height: 40rem;
  }
  .header-home .header-content {
    padding-top: 10%;
  }
}

@media (max-width: 640px) {
  .header-home .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-home .main-nav li {
    padding: 1rem;
  }
  footer {
    height: 7rem;
  }
  footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-content .social {
    margin-top: 0.5rem;
  }
  .header-inner {
    height: 10rem;
  }
  .header-inner .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-inner .main-nav li {
    padding: 1rem;
  }
  .about-a .about-info {
        grid-template-areas: "bio bio bio" "aw1 aw2 aw3";
  }
  .about-a .bio-image {
    display: none;
  }
  .about-c .container {
    gap: 2rem;
  }
  .about-d .testimonials div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-a .text-fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-a .text-fields .text-input {
    margin: auto;
    width: 90%;
    margin-bottom: 1rem;
  }
  .contact-a button[type="submit"] {
    margin: auto;
  }
  .contact-b .container {
    gap: 1rem;
  }
  .contact-c h1 {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=main.css.map */